/*
 * SocialBox v.1.3.0
 * Copyright by Jonas Doebertin
 * Available only at CodeCanyon: http://codecanyon.net/item/socialbox-social-wordpress-widget/627127
 */

.socialbox-options{}

	.socialbox-options fieldset{
		margin-bottom: 8px;
		overflow: hidden;
		padding: 5px 10px 0 10px;
		width: 264px;
	}
	
		.socialbox-options fieldset.socialbox-general,
		.socialbox-options fieldset.socialbox-support{
			background-color: #fcfcfc;
		}

		.socialbox-options fieldset.socialbox-general optgroup{
			font-style: normal;
		}

		.socialbox-options fieldset.socialbox-general option{
			padding-left: 15px !important;
		}
	
		.socialbox-options fieldset legend{
			font-weight: bold;
			padding: 0 1px;
		}
		
		.socialbox-options fieldset p:last-child{
			margin-bottom: 6px;
		}
		
		.socialbox-options fieldset div{
			float: left;
			margin-bottom: 10px;
			margin-right: 2px;
		}
		
			.socialbox-options fieldset div:last-child{
				margin-right: 0;
			}
		
		.socialbox-options fieldset .socialbox-id{
			width: 140px;
		}
		
		.socialbox-options fieldset .socialbox-default{
			width: 70px;
		}
		
		.socialbox-options fieldset .socialbox-position{
			width: 50px;
		}