/*------------------------------------*\
	$FONTS
\*------------------------------------*/





/*
 * Bebas Neue Regular
 */
@font-face{
	font-family: 'BebasNeueRegular';
	font-weight: normal;
	src: url('../fonts/BebasNeue-webfont.eot');
	src: url('../fonts/BebasNeue-webfont.eot?iefix') format('eot'),
	     url('../fonts/BebasNeue-webfont.woff') format('woff'),
	     url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
	     url('../fonts/BebasNeue-webfont.svg#webfont4Bjy2lJe') format('svg');
}