/*------------------------------------*\
	$MIXINS
\*------------------------------------*/





/*
 * Simple Linear Gradients
 */
@mixin simple-linear-gradient($from, $to) {
	background-color: $from;
	background-image: linear-gradient(to bottom, $from, $to);
}





/*
 * Simple Border Radius
 */
@mixin simple-border-radius($radius) {
	border-radius: $radius;
	background-clip: padding-box
}
