@charset "UTF-8";
/*!
 * SocialBox 1.4.1
 * Copyright by Jonas Döbertin
 * Available only at CodeCanyon: http://codecanyon.net/item/socialbox-social-wordpress-widget/627127
 */
/*------------------------------------*\
	$OPTIONS PAGE
\*------------------------------------*/
/** Main Wrap */
.socialbox-wrap { max-width: 1050px; }

/** Tab navigation */
.nav-tab:first-child { margin-left: 15px; }

/** Help Page */
.socialbox-help-header { background: #ffffff; border: 1px solid #e5e5e5; -webkit-box-shadow: 0px 0px 5px 0 1px 1px rgba(0, 0, 0, 0.04); -moz-box-shadow: 0px 0px 5px 0 1px 1px rgba(0, 0, 0, 0.04); box-shadow: 0px 0px 5px 0 1px 1px rgba(0, 0, 0, 0.04); margin: 16px 0; padding: 23px 10px 10px; }

.socialbox-help-title { margin: 0 13px; }
.socialbox-help-title h3 { margin: 0; font-size: 21px; font-weight: 400; line-height: 1.2; color: #222222; }
.socialbox-help-title p { font-size: 16px; margin: 0; color: #777777; line-height: 1.5; }

.socialbox-help-column-container { clear: both; overflow: hidden; margin: 0 13px; }
.socialbox-help-column-container .socialbox-help-column { float: left; min-width: 200px; width: 30%; margin-right: 5%; }
.socialbox-help-column-container .socialbox-help-column:last-child { margin-right: 0; }
.socialbox-help-column-container .socialbox-help-column h4 { margin: 20px 0 0; font-size: 16px; font-weight: 600; line-height: 2.1; }
.socialbox-help-column-container .socialbox-help-column ul { margin: 15px 15px 15px 0; }
.socialbox-help-column-container .socialbox-help-column ul li { list-style: none; }
.socialbox-help-column-container .socialbox-help-column ol li { color: #999999; font-weight: 700; }
.socialbox-help-column-container .socialbox-help-column li { line-height: 16px; font-size: 14px; margin: 0 0 5px 0; }
.socialbox-help-column-container .socialbox-help-column a { text-decoration: none; display: inline-block; padding-bottom: 8px; font-weight: 400; }

.socialbox-help-section, .socialbox-help-section--quick, .socialbox-help-section--widget, .socialbox-help-section--networks { margin: 0; padding: 50px 0 0; font-size: 14px; line-height: 1.6; color: #444444; clear: both; overflow: hidden; }
.socialbox-help-section h3, .socialbox-help-section--quick h3, .socialbox-help-section--widget h3, .socialbox-help-section--networks h3 { font-size: 36px; font-weight: 300; text-align: center; line-height: 1.3; margin: 0 0 30px; color: #444444; }
.socialbox-help-section h4, .socialbox-help-section--quick h4, .socialbox-help-section--widget h4, .socialbox-help-section--networks h4 { margin: 20px 0 0; font-size: 16px; font-weight: 600; line-height: 2.1; }
.socialbox-help-section ol li, .socialbox-help-section--quick ol li, .socialbox-help-section--widget ol li, .socialbox-help-section--networks ol li { font-weight: 700; color: #999999; }
.socialbox-help-section p, .socialbox-help-section--quick p, .socialbox-help-section--widget p, .socialbox-help-section--networks p { font-size: 14px; line-height: 1.6; color: #444444; font-weight: normal; margin: 10px 0 0; }
.socialbox-help-section .socialbox-help-image, .socialbox-help-section--quick .socialbox-help-image, .socialbox-help-section--widget .socialbox-help-image, .socialbox-help-section--networks .socialbox-help-image, .socialbox-help-section .socialbox-help-image--left, .socialbox-help-section--quick .socialbox-help-image--left, .socialbox-help-section--widget .socialbox-help-image--left, .socialbox-help-section--networks .socialbox-help-image--left, .socialbox-help-section .socialbox-help-image--center, .socialbox-help-section--quick .socialbox-help-image--center, .socialbox-help-section--widget .socialbox-help-image--center, .socialbox-help-section--networks .socialbox-help-image--center { border: 1px solid #e5e5e5; -webkit-box-shadow: 0px 0px 5px 0 1px 1px rgba(0, 0, 0, 0.04); -moz-box-shadow: 0px 0px 5px 0 1px 1px rgba(0, 0, 0, 0.04); box-shadow: 0px 0px 5px 0 1px 1px rgba(0, 0, 0, 0.04); }
.socialbox-help-section .socialbox-help-image--left, .socialbox-help-section--quick .socialbox-help-image--left, .socialbox-help-section--widget .socialbox-help-image--left, .socialbox-help-section--networks .socialbox-help-image--left { float: left; }
.socialbox-help-section .socialbox-help-image--center, .socialbox-help-section--quick .socialbox-help-image--center, .socialbox-help-section--widget .socialbox-help-image--center, .socialbox-help-section--networks .socialbox-help-image--center { display: block; margin: 0 auto; }

.socialbox-help-section--quick { width: 650px; margin: 0 auto; }

.socialbox-help-section--widget { width: 650px; margin: 0 auto; }

.socialbox-help-section--networks { width: 650px; margin: 0 auto; }

/** Log */
.socialbox-log table { margin: 30px 0; }
.socialbox-log table .empty-log { font-weight: bold; padding: 10px; text-align: center; }
.socialbox-log table .success { background-color: #caefc4; }
.socialbox-log table .success.alternate { background-color: #BDECB6; }
.socialbox-log table .failed { background-color: #ff9393; }
.socialbox-log table .failed.alternate { background-color: #FF7878; }

/* Help */
/*.socialbox-wrap{
	font-size: 15px; margin: 30px 0 0 0; max-width: 1050px; min-width: 770px; position: relative;
}

	.socialbox-help-description{
		font-size: 20px;
		line-height: 32px;
	}

	.socialbox-wrap h4{
		font-size: 16px;
		font-weight: bold;
		margin: 30px 0 20px;
	}

		.socialbox-wrap h4.socialbox-help-divider-top{
			border-top: 1px solid #dfdfdf;
			padding-top: 30px;
		}

	.socialbox-wrap ol{
		color: #333333;
		list-style-type: decimal;
		margin: 20px 60px;
		padding: 0;
	}

	.socialbox-wrap ol.socialbox-help-main-features{
		border-bottom: 1px solid #dfdfdf;
	}

		.socialbox-wrap ol li{
			color: #999999;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 6px;
		}

			.socialbox-wrap ol li p{
				color: #464646;
				font-weight: normal;
			}

			.socialbox-wrap ol li ul{
				list-style: square outside; 			margin-left: 15px;
			}

	.socialbox-wrap dl{
		font-size: 12px;
	}

		.socialbox-wrap dl dt{
			font-weight: bold;
		}

		.socialbox-wrap dl dd{
			margin: 0 0 10px 60px;
		}

	.socialbox-wrap img{
		border: 1px solid #e3e3e3;
		margin: 8px 0 8px 0;
		padding: 4px;
	}

	.socialbox-help-contents{
		background: #ffffff;
		border: 1px solid #dfdfdf;
		float: right;
		padding: 20px;
	}

		.socialbox-help-contents h4{
			margin: 0 0 10px 0;
		}

		.socialbox-help-contents ol{
			margin: 0 0 0 21px;
		}*/
