/*!
 * SocialBox 1.7.2
 * Copyright by Jonas Döbertin
 * Available only at CodeCanyon: http://codecanyon.net/item/socialbox-social-wordpress-widget/627127
 */


div.updated.socialbox-update-available{
    border: none;
    background: #32aad2;
    color: #ffffff;
    padding: 20px 20px;
    overflow: hidden;

    .socialbox-logo{
        float: left;
        overflow: hidden;

        .socialbox-icon{
            width: 25px;
            height: 25px;
            display: block;
            float: left;
            background: transparent url('../img/socialbox-25.png') no-repeat top left;
        }

        .socialbox-title{
            font-size: 20px;
            line-height: 25px;
            height: 25px;
            padding: 0;
            margin: 0 0 0 10px;
            float: left;
        }

    }

    .socialbox-message{
        float: left;
        font-size: 14px;
        padding: 0;
        margin: 4px 0 0 20px;

        a{
            color: #ffffff;
            font-weight: bold;

            &:focus,
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
